.post {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.24), 0 1px 8px rgba(0, 0, 0, 0.36);
    border-radius: 5px;
    padding: 3px;
    margin-bottom: 20px;
    margin-top: 20px;
    cursor: pointer;
}

.post:hover {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.30), 0 0 16px rgba(0, 0, 0, 0.40);
}

.post-text {
    font-size: 16px;
}

.post-date {
    color: #828282;
    text-align: left;
    font-size: 12px;
}

.post h2 a,
.post h2,
h2 {
    font-size: 28px;
    color: black;
}

.post-text-detailed {
    font-size: 16px;
    overflow: hidden;
}

.comment-title {
    font-size: 16px;
}

.comment-text {
    font-size: 14px;
}