.post {
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.15);
    border: solid 1px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 6px;
    margin-bottom: 20px;
    margin-top: 20px;
    cursor: pointer;
    transition: box-shadow 0.2s ease-in-out;
}

.post-hover:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.post-text {
    font-size: 16px;
}

.post-date {
    color: #828282;
    text-align: left;
    font-size: 12px;
}

.post h2 a,
.post h2,
h2 {
    font-size: 28px;
    color: black;
}

.comment-title {
    font-size: 16px;
}

.comment-text {
    font-size: 14px;
}