.bio-background {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.bio-box {
    background-color: rgba(45, 45, 45, 0.3);
    border-radius: 10px;
    display: inline-block;
    padding: 5px 10px;
    margin: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.profile-pic {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    float: left;
}

.bio-text {
    display: table-cell;
    padding: 1% 2%;
    font-size: 18px;
}

.bio-text-container {
    display: inline;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.div-scrollspy {
    position: relative;
    top: 25%;
}

.div-scrollspy a {
    display: block;
}

#scrollspy {
    top: 50%;
    transform: translateY(-50%);
    display: block;
}

.cv-post,
.skills-container,
.interests-container,
.projects-container {
    margin-left: 5%;
}

.cv-post-title {
    font-size: 28px;
    font-weight: 400;
}

.cv-post-sub-title {
    font-size: 16px;
    font-weight: 400;
    color: rgb(115, 115, 115);
}

.cv-post-text,
.skill-text,
.interest-text {
    font-size: 14px;
}

.skill-post,
.interest-post {
    display: inline-block;
    vertical-align: middle;
    padding: 1px 4px;
    border: 0.5px solid rgb(115, 115, 115);
    border-radius: 8px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    margin: 5px;
}

.skill-text,
.interest-text {
    vertical-align: middle;
    margin: 0;
}

.project-card {
    /* margin: 10px 0; */
}


/* .project-card-body {
    height: 100%;
} */