.page-header {
    background-color: #310BA4;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    margin-bottom: 0px;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    /* border: 1px solid red; */
    align-items: center;
    text-align: center;
    margin: 0 auto;
    max-width: 100%;
    padding: 0 10%;
}

h1,
h2,
h3,
h4 {
    font-family: cursive;
}

.date {
    color: #828282;
    text-align: left;
}

.save {
    float: right;
}

.post-form textarea,
.post-form input {
    width: 100%;
}

.top-menu,
.top-menu:hover,
.top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    /* border: 1px solid red; */
    margin: 0 auto;
    margin-bottom: 40px;
    display: inline-block;
    width: 100%;
    max-width: 100%;
}

.post h2 a,
.post h2 a:visited {
    color: #000000;
}

.post h2 {
    text-align: left;
}

p.post-text {
    /* color: red; */
    white-space: pre-line;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    padding: 3px;
    width: 100%;
    max-height: 7em;
    overflow: hidden;
    word-wrap: break-word;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: left;
    /* display: inline-block; */
}