/* .page-header {
    background-color: #310BA4;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    margin-bottom: 0px;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    align-items: center;
    text-align: center;
    margin: 0 auto;
    max-width: 100%;
    padding: 0 10%;
}

h1,
h2,
h3,
h4 {
    font-family: cursive;
}

.date {
    color: #828282;
    text-align: left;
}

.save {
    float: right;
}

.post-form textarea,
.post-form input {
    width: 100%;
}

.top-menu,
.top-menu:hover,
.top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin: 0 auto;
    margin-bottom: 40px;
    display: inline-block;
    width: 100%;
    max-width: 100%;
}

.post h2 a,
.post h2 a:visited {
    color: #000000;
}

.post h2 {
    text-align: left;
}

p.post-text {
    white-space: pre-line;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    padding: 3px;
    width: 100%;
    max-height: 7em;
    overflow: hidden;
    word-wrap: break-word;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: left;
} */

.navbar {
    border-radius: 0px;
}

.inner-container {
    margin-left: 100px;
    margin-right: 100px;
}

.post {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    border-radius: 5px;
    padding: 3px;
    margin-bottom: 20px;
}

.post-text {
    font-size: 16px;
    max-height: 180px;
    overflow: hidden;
}

.date {
    color: #828282;
    text-align: left;
    font-size: 12px;
}

.post h2 a,
.post h2 {
    font-size: 28px;
    color: black;
}

h3 {
    font-size: 22px;
}

.nav-link {
    font-size: 24px;
}

.navbar-brand {
    font-size: 45px;
}

.navbar-nav a {
    padding: 0;
    margin: 0;
    vertical-align: bottom;
}

.post-text-detailed {
    font-size: 16px;
    overflow: hidden;
}

.submit-text {
    font-size: 14px;
}

.form-control {
    font-size: 14px;
}

.form-body {
    max-height: 110px;
}

.comment-title {
    font-size: 16px;
}

.comment-text {
    font-size: 14px;
}