{% extends 'cv/cv_base.html' %}
{% load static %}

{% block content %}
    <form method="post" enctype="multipart/form-data" class="cv-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn submit-text submit-btn">Save</button>
        <h2>Helpful Instructions:</h2>
            <p>You can use <strong>"cv-post-text"</strong>, <strong>"cv-post-list"</strong>
             for <u>CSS</u> classes and whatever <u>HTML</u> tags you want, like <strong>"ul"</strong> and <strong>"ol"</strong>.</p>
            <p>You can also use <strong>"&lti&gt"</strong> with classes <strong>fa-users</strong> or <strong>fa-graduation-cap</strong>.</p>
    </form>
{% endblock %}