{% extends 'base.html' %}
{% load static %}

{% block my_css %}
    <link rel="stylesheet" href="{% static 'cv/css/cv.css' %}"> 
{% endblock %}

{% block navbar %}
    <a class="nav-item nav-link active" href="/">Home</a>
    <a class="nav-item nav-link" href="/blog">Blog</a>
{% endblock %}

{% block bio %}
    <div style="background-image: url({% static 'cv/img/background.jpg' %});" class="bio-background">
        <div class="bio-box">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Upload</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block content %}
    <p>Hello</p>
{% endblock %}