{% extends 'cv/cv_base.html' %}
{% load static %}
{% load my_filter_tags %}

{% block bio %}
    <div style="background-image: url({% static 'cv/img/background.jpg' %});" class="bio-background container-fluid">
        <div class="row" style="height: 100%">

                <div class="bio-box">
                    <p class="bio-title">{{ bio.first.title }}</p>
                    <p class="bio-text">{{ bio.first.formatted_markdown|safe }}</p>
                    {% if user.is_authenticated %}
                        <a class="btn btn-default" href="{% url 'bio_edit' %}"><span class="glyphicon glyphicon-pencil"></span></a>
                    {% endif %}
                </div>

        </div>    
    </div>
{% endblock %}

{% block scrollspy %}
    <div style="height: 100%;">
        <nav class="navbar display-4 nav nav-pills sticky-top" id="scrollspy">
            <a class="nav-item nav-link" href="#work">Work Experience</a>
            <a class="nav-item nav-link" href="#education">Education</a>
            <a class="nav-item nav-link" href="#achievements">Achievements</a>
            <a class="nav-item nav-link" href="#qualifications">Qualifications</a>
            <a class="nav-item nav-link" href="#skills">Skills</a>
            <a class="nav-item nav-link" href="#interests">Interests</a>
            <a class="nav-item nav-link" href="#projects">Projects</a>
            <a class="nav-item nav-link" href="#add_activities">Additional Activities</a>
            <a class="nav-item nav-link" href="#contact">Contact Information</a>
        </nav>
    </div>
{% endblock %}

{% block content %}
    <h1 id="work" class="display-3">Work Experience
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'cv_post_new' category='Work' %}"><span class="glyphicon glyphicon-plus"></span></a>
        {% endif %}
    </h1>  
        {% for post in work reversed %}
            <div class="cv-post" id="work-post">
                <h2 class="cv-post-title">{{ post.title }}</h2>
                <h3 class="cv-post-sub-title">{{ post.sub_title }}</h3>
                <p class="cv-post-text">{{ post.formatted_markdown|safe }}</p>
                {% if user.is_authenticated %}
                    <a class="btn btn-default" href="{% url 'cv_post_edit' category='Work' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a href="{% url 'cv_post_delete' category='Work' pk=post.pk %}" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></a>
                {% endif %}
                <hr>
            </div>
        {% endfor %}

    <h1 id="education" class="display-3" style="margin-top: 0;">Education
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'cv_post_new' category='Education' %}"><span class="glyphicon glyphicon-plus"></span></a>
        {% endif %}
    </h1>  
        {% for post in education reversed %}
            <div class="cv-post" id="education-post">
                <h2 class="cv-post-title">{{ post.title }}</h2>
                <h3 class="cv-post-sub-title">{{ post.sub_title }}</h3>
                <p class="cv-post-text">{{ post.formatted_markdown|safe }}</p>
                {% if user.is_authenticated %}
                    <a class="btn btn-default" href="{% url 'cv_post_edit' category='Education' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a href="{% url 'cv_post_delete' category='Education' pk=post.pk %}" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></a>
                {% endif %}
                <hr>
            </div>
        {% endfor %}

    <h1 id="achievements" class="display-3">Achievements
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'cv_post_new' category='Achievement' %}"><span class="glyphicon glyphicon-plus"></span></a>
        {% endif %}
    </h1>
        {% for post in achievements %}
            <div class="cv-post" id="achievement-post">
                <h2 class="cv-post-title">{{ post.title }}</h2>
                <p class="cv-post-text">{{ post.formatted_markdown|safe }}</p>
                {% if user.is_authenticated %}
                    <a class="btn btn-default" href="{% url 'cv_post_edit' category='Achievement' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a href="{% url 'cv_post_delete' category='Achievement' pk=post.pk %}" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></a>
                {% endif %}
                <hr>
            </div>
        {% endfor %}

    <h1 id="qualifications" class="display-3">Qualifications
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'cv_post_new' category='Qualification' %}"><span class="glyphicon glyphicon-plus"></span></a>
        {% endif %}
    </h1>
        {% for post in qualifications %}
            <div class="cv-post" id="qualification-post">
                <h2 class="cv-post-title">{{ post.title }}</h2>
                <p class="cv-post-text">{{ post.formatted_markdown|safe }}</p>
                {% if user.is_authenticated %}
                    <a class="btn btn-default" href="{% url 'cv_post_edit' category='Qualification' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a href="{% url 'cv_post_delete' category='Qualification' pk=post.pk %}" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></a>
                {% endif %}
                <hr>
            </div>
        {% endfor %}

    <h1 id="skills" class="display-3">Skills
    {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'cv_post_new' category='Skill' %}"><span class="glyphicon glyphicon-plus"></span></a>
        {% endif %}
    </h1>
        <div class="skills-container">
            <h2 class="cv-post-title">Programming Languages</h2>
            {% for post in skills %}
                {% if post.category == 'PROGRAMMING_LANGUAGES'%}
                    <div class="skill-post" id="programming_languages">
                        <p class="skill-text">{{ post.skill }}</p>
                            {% if user.is_authenticated %}
                                <a class="btn btn-default" href="{% url 'cv_post_edit' category='Skill' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                                <a href="{% url 'cv_post_delete' category='Skill' pk=post.pk %}" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></a>
                            {% endif %}
                    </div>
                {% endif %}
            {% endfor %}

            <h2 class="cv-post-title">Other Programming Skills</h2>
            {% for post in skills %}
                {% if post.category == 'OTHER_PROGRAMMING_SKILLS'%}
                    <div class="skill-post" id="other_prog_skills">
                        <p class="skill-text">{{ post.skill }}</p>
                            {% if user.is_authenticated %}
                                <a class="btn btn-default" href="{% url 'cv_post_edit' category='Skill' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                                <a href="{% url 'cv_post_delete' category='Skill' pk=post.pk %}" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></a>
                            {% endif %}
                    </div>
                {% endif %}
            {% endfor %}

            <h2 class="cv-post-title">Languages</h2>
            {% for post in skills %}
                {% if post.category == 'LANGUAGES'%}
                    <div class="skill-post" id="languages">
                        <p class="skill-text">{{ post.skill }}</p>
                            {% if user.is_authenticated %}
                                <a class="btn btn-default" href="{% url 'cv_post_edit' category='Skill' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                                <a href="{% url 'cv_post_delete' category='Skill' pk=post.pk %}" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></a>
                            {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>

    <h1 id="interests" class="display-3">Interests
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'cv_post_new' category='Interest' %}"><span class="glyphicon glyphicon-plus"></span></a>
        {% endif %}
    </h1>
        <div class="interests-container">
            {% for post in interests %}
                <div class="interest-post">
                    <p class="interest-text">{{ post.interest }}</p>
                    {% if user.is_authenticated %}
                        <a class="btn btn-default" href="{% url 'cv_post_edit' category='Interest' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a href="{% url 'cv_post_delete' category='Interest' pk=post.pk %}" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

    <h1 id="projects" class="display-3">Projects
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'cv_post_new' category='Project' %}"><span class="glyphicon glyphicon-plus"></span></a>
        {% endif %}
    </h1>
        <div class="card-columns projects-container">
            {% for post in projects %}
                <div class="project-card-col">
                    <div class="card project-card" onclick="window.open('{{ post.url }}', '_blank')">
                        <img class="card-img-top project-card-img" src="{{ post.image.url }}">
                        <div class="card-body project-card-body">
                            <h2 class="cv-post-title">{{ post.title }}</h2>
                            <p class="cv-post-text" style="word-wrap: break-word;">{{ post.text|linebreaksbr }}</p>
                            {% if user.is_authenticated %}
                                <div onclick="event.stopPropagation();">
                                    <a class="btn btn-default" href="{% url 'cv_post_edit' category='Project' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                                    <a href="{% url 'cv_post_delete' category='Project' pk=post.pk %}" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    <h1 id="add_activities" class="display-3">Additional Activities
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'cv_post_new' category='Add_Activities' %}"><span class="glyphicon glyphicon-plus"></span></a>
        {% endif %}
    </h1>
        {% for post in add_activities %}
            <div class="cv-post" id="add-activities-post">
                <p class="cv-post-text">{{ post.formatted_markdown|safe }}</p>
                {% if user.is_authenticated %}
                    <a class="btn btn-default" href="{% url 'cv_post_edit' category='Add_Activities' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a href="{% url 'cv_post_delete' category='Add_Activities' pk=post.pk %}" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></a>
                {% endif %}
                <hr>
            </div>
        {% endfor %}

    <h1 id="contact" class="display-3">Contact Information</h1>
        <div class="contact-container">
            <a href="mailto:cefstathiou13@gmail.com" class="fa fa-envelope bg-primary"></a>
            <i onclick="window.open('https://www.linkedin.com/in/christos-efstathiou/', '_blank')" class="fa fa-linkedin"></i>
            <i onclick="window.open('https://github.com/Brunochris13', '_blank')" class="fa fa-github"></i>
            <a download href="{{ cv_pdf.first.cv_pdf.url }}" class="fa fa-file-text"></a>
            {% if user.is_authenticated %}
                <a class="btn btn-default" href="{% url 'cv_pdf_upload' %}"><span class="glyphicon glyphicon-pencil"></span></a>
            {% endif %}
        </div>

{% endblock %}