{% extends 'cv/cv_base.html' %}
{% load static %}

{% block bio %}
    <div style="background-image: url({% static 'cv/img/background.jpg' %});" class="bio-background container-fluid">
        <div class="row" style="height: 100%">
            <div class="col-sm-3 d-none d-sm-block"></div>

            <div class="col-sm-6">
                <div class="bio-box">
                    <img class="profile-pic" src="{{ bio.first.image.url }}">
                    <div class="bio-text-container">
                        <p class="bio-text">{{ bio.first.text }}</p>
                    </div>
                    {% if user.is_authenticated %}
                        <a class="btn btn-default" href="{% url 'bio_edit' %}"><span class="glyphicon glyphicon-pencil"></span></a>
                    {% endif %}
                </div>
            </div>

            <div class="col-sm-3 d-none d-sm-block"></div>
        </div>    
    </div>
{% endblock %}

{% block scrollspy %}
    <div data-spy="scroll" data-target="scrollspy" data-offset="50" class="div-scrollspy d-none d-sm-block" style="height: 100%">
        <nav class="navbar display-4 sticky-top" id="scrollspy">
            <a class="navbar-item nav-link" href="#bio">Biography</a>
            <a class="navbar-item nav-link" href="#work">Work Experience</a>
            <a class="navbar-item nav-link" href="#education">Education</a>
            <a class="navbar-item nav-link" href="#achievements">Achievements</a>
            <a class="navbar-item nav-link" href="#qualifications">Qualifications</a>
            <a class="navbar-item nav-link" href="#skills">Skills</a>
            <a class="navbar-item nav-link" href="#interests">Interests</a>
            <a class="navbar-item nav-link" href="#projects">Projects</a>
            <a class="navbar-item nav-link" href="#contact">Contact</a>
        </nav>
    </div>
{% endblock %}

{% block content %}
    <h1 id="education" class="display-3">Education
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'cv_post_new' category='Education' %}"><span class="glyphicon glyphicon-plus"></span></a>
        {% endif %}
    </h1>  
        {% for post in education %}
            <div class="cv-post">
                <h2 class="cv-post-title">{{ post.title }}</h2>
                <h3 class="cv-post-sub-title">{{ post.sub_title }}</h3>
                <p class="cv-post-text">{{ post.text|linebreaksbr }}</p>
                {% if user.is_authenticated %}
                    <a class="btn btn-default" href="{% url 'cv_post_edit' category='Education' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a href="{% url 'cv_post_delete' category='Education' pk=post.pk %}" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></a>
                {% endif %}
                <hr>
            </div>
        {% endfor %}

    <h1 id="work" class="display-3">Work Experience
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'cv_post_new' category='Work' %}"><span class="glyphicon glyphicon-plus"></span></a>
        {% endif %}
    </h1>  
        {% for post in work %}
            <div class="cv-post">
                <h2 class="cv-post-title">{{ post.title }}</h2>
                <h3 class="cv-post-sub-title">{{ post.sub_title }}</h3>
                <p class="cv-post-text">{{ post.text|linebreaksbr }}</p>
                {% if user.is_authenticated %}
                    <a class="btn btn-default" href="{% url 'cv_post_edit' category='Work' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a href="{% url 'cv_post_delete' category='Work' pk=post.pk %}" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></a>
                {% endif %}
                <hr>
            </div>
        {% endfor %}

    <h1 id="achievements" class="display-3">Achievements
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'cv_post_new' category='Achievement' %}"><span class="glyphicon glyphicon-plus"></span></a>
        {% endif %}
    </h1>
        {% for post in achievements %}
            <div class="cv-post">
                <h2 class="cv-post-title">{{ post.title }}</h2>
                <h3 class="cv-post-sub-title">{{ post.sub_title }}</h3>
                <p class="cv-post-text">{{ post.text|linebreaksbr }}</p>
                {% if user.is_authenticated %}
                    <a class="btn btn-default" href="{% url 'cv_post_edit' category='Achievement' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a href="{% url 'cv_post_delete' category='Achievement' pk=post.pk %}" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></a>
                {% endif %}
                <hr>
            </div>
        {% endfor %}

    <h1 id="qualifications" class="display-3">Qualifications
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'cv_post_new' category='Qualification' %}"><span class="glyphicon glyphicon-plus"></span></a>
        {% endif %}
    </h1>
        {% for post in qualifications %}
            <div class="cv-post">
                <h2 class="cv-post-title">{{ post.title }}</h2>
                <p class="cv-post-text">{{ post.text|linebreaksbr }}</p>
                {% if user.is_authenticated %}
                    <a class="btn btn-default" href="{% url 'cv_post_edit' category='Qualification' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a href="{% url 'cv_post_delete' category='Qualification' pk=post.pk %}" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></a>
                {% endif %}
                <hr>
            </div>
        {% endfor %}

    <h1 id="skills" class="display-3">Skills
    {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'cv_post_new' category='Skill' %}"><span class="glyphicon glyphicon-plus"></span></a>
        {% endif %}
    </h1>
        <div class="skills-container">
            {% for post in skills %}
                <div class="skill-post">
                    <p class="skill-text">{{ post.skill }}</p>
                    {% if user.is_authenticated %}
                        <a class="btn btn-default" href="{% url 'cv_post_edit' category='Skill' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a href="{% url 'cv_post_delete' category='Skill' pk=post.pk %}" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

    <h1 id="interests" class="display-3">Interests
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'cv_post_new' category='Interest' %}"><span class="glyphicon glyphicon-plus"></span></a>
        {% endif %}
    </h1>
        <div class="interests-container">
            {% for post in interests %}
                <div class="interest-post">
                    <p class="interest-text">{{ post.interest }}</p>
                    {% if user.is_authenticated %}
                        <a class="btn btn-default" href="{% url 'cv_post_edit' category='Interest' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a href="{% url 'cv_post_delete' category='Interest' pk=post.pk %}" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

    <h1 id="projects" class="display-3">Projects
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'cv_post_new' category='Project' %}"><span class="glyphicon glyphicon-plus"></span></a>
        {% endif %}
    </h1>
        <div class="row projects-container">
            {% for post in projects %}
                <div class="col-sm-4 mt-4 mb-4">
                    <div class="card project-card h-100" onclick="window.open('{{ post.url }}', '_blank')">
                        <img class="card-img-top" src="{{ post.image.url }}">
                        <div class="card-body project-card-body">
                            <h2 class="cv-post-title">{{ post.title }}</h2>
                            <p class="cv-post-text">{{ post.text|linebreaksbr }}</p>
                            {% if user.is_authenticated %}
                                <a class="btn btn-default" href="{% url 'cv_post_edit' category='Project' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                                <a href="{% url 'cv_post_delete' category='Project' pk=post.pk %}" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    <h1 id="contact" class="display-3">Contact</h1>

{% endblock %}