{% load static %}
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <!-- Font Awsome Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- My CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block my_css %}    
    {% endblock %}

    {% block title%}
        <title>Christos Efstathiou</title>
    {% endblock %}
</head>

<body class= "div-scrollspy" data-spy="scroll" data-target="#scrollspy" data-offset="5">
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark ">
        <a href="/" class="navbar-brand display-4">Christos Efstathiou</a>

        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
        </button>  

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav display-4 ml-auto">
                {% block navbar%}
                {% endblock %}
            </div>
        </div>
        
    </nav>

    {% block bio %}
    {% endblock %}
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2 d-none d-md-block"></div>

            <div class="middle-container col-sm-8">
                {% block content %}
                {% endblock %}
            </div>
            
            <div class="scrollspy-container col-sm-2 d-none d-md-block">
                {% block scrollspy %}
                {% endblock %}
            </div>
        </div>
    </div>

    <!-- Bootstrap JavaScript-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

</html>