#top-navbar {
    border-radius: 0;
    margin-bottom: 0;
    margin: 0;
    padding: 0 5px;
    height: 50px;
}

#top-navbar-nav {
    margin: 0;
    margin-right: 10px;
}

h3 {
    font-size: 22px;
}

.nav-link {
    font-size: 24px;
}

.submit-btn {
    background-color: #0275d8;
    color: white;
}

.submit-btn:hover {
    opacity: 0.9;
    color: white;
}

.submit-text {
    font-size: 14px;
}

.form-control,
.post-form,
.cv-form {
    font-size: 14px;
    margin-top: 20px;
}

.form-body {
    max-height: 110px;
}